*{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body{
    background-color: #2f242c;
    color: white;
}

#main{
    background: linear-gradient(45deg, #c179b9, #a42cd6, #502274);
    border-radius: 30px;
    margin: 10% 30%;
    padding: 10px 20px;
    
}

#city{
    width: 80%;
    margin: 20px;
    padding: 12px 10px;
    outline: none;
    box-sizing:border-box;
    border: none;
}

#city:focus{
    border: none;
    border-bottom: solid 3px #a42cd6;
    padding-bottom: 9px;
}

#search{
    color: white;
    background-color: #502274;
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    cursor: pointer;
    user-select: none;
}

#search:active{
    background-color: #2f242c;
}

#return{
    color: black;
}

#return img, #return br{
    user-select: none;
}

@media screen and (max-width:1000px){
    #main{
        margin: 10% 20%;
    }
}